ul li {
    list-style-type: none;
}
#weight-form {
    display: none;
    position: relative;
    margin: 0px;
    border: none;
    border-radius: 50%;
    padding: 0px;
    color: black;
    width: 40px;
    height: 40px;
}

#weight-input {
    /*Used to get the weight of the edge*/
    border-radius: 50%;
    background-color: red;
    text-align: center;
    font-size: 13px;
    width: 38px;
    height: 38px;
}
